$encabezado: (
    bg-color: #2a9d8f,
    posicion: sticky,
    decoracion: none,
    font-tamaño: 30px,
    alineación: display flex,
    al2: justify-content space-between,
    espaciado: padding 10px, 
);

