$background-color_1: #264653;
$colorletras: #fff0f5;
$colorUno: #2a9d8f;
$letra: 'Roboto Serif', serif;

h1 {
	h2 {
		h3 {
			h4 {
				h5 {
					color: $colorletras
				}
			}
		}
	}
}

.transicion1 {
	&:hover {
		transition: all .8s ease-out;
		transform: scale(1.2);
	}
}

nav {
	a {
		&:hover {
			font-size: 20px;
			font-weight: bold;
			background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
			box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
			background-position: 100% 0;
			border-radius: 50px;
			-moz-transition: all .4s ease-in-out;
			-o-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
	}
}

.txtcolr {
    color: #fff0f5;
    padding-left: 10px;
    font-family: 'Roboto Serif', serif;
}

header {
	background-color: $colorUno;
	font-family: 'Roboto Serif', serif;
}

$color_1: white;
$background-color_3: rgb(67, 67, 219);
$background-color_4: olive;

@media screen and (max-width: 992px) {
	body {
		background-color: $background-color_3;
		color: $color_1;
		padding: 1.5rem;
	}
}
@media screen and (max-width: 600px) {
	body {
		background-color: $background-color_4;
		color: $color_1;
		padding: 1rem;
	}
}