//colores
$colorUno: #2a9d8f;
$colorDos: #264653;
$colorbotoncard: #13688A;
$colorletras: #fff0f5; 
$coloropcional1:#eee8aa;


//font
$font-family-sans-serif:'Roboto Serif', serif;

//font-tamaño
$tamañotit1: 35px;
$tamañonav: 25px;
$tamañotitintern: 20px;
$tamañotext: 15px;
$tamñobutton: 12px;
